<link rel="stylesheet" href="/css/product.css">
<form action="/products/new-product" method="POST">
    <div class="product center">
        <h1>Nuevo Producto</h1>
        <hr/>
        <div class="control">
          <input type="text" name="title" class="form-control" placeholder="Titulo" autofocus/>
          <textarea name="description" class="form-control" placeholder="Descripcion"></textarea>
          <input type="text" name="price" class="form-control" placeholder="Precio">
        </div>
        <div>
          <button>Crear producto</button>
        </div>  
    </div>
</form>



