 <!-- Section Contacts -->
    <section class="container-contacts">
        <div class="title-contact text-center pt-3">
            <h4 id="contact"><strong>CONTACTOS</strong></h4>
        </div>
        <div class="container-contact pt-3">
            <div class="card-contact">
                <img src="/images/alfiler.png" alt="..." id="address">
                <div class="text-contact">
                    <p>Guevara No.5675, <br/>Col. La estáncia, <br/> CP. 45254, <br/> Zapópan, 
                        <br/>Jalísco, <br/>México.</p>
                </div>
            </div>
            <div class="card-contact">
                <img src="/images/telefono.png" alt="...">
                <div class="text-contact">
                    <p>Rubén Velázquez <br/>33 33 33 33 33</p>
                </div>
            </div>
            <div class="card-contact">
                <img src="/images/correo.png" alt="...">
                <div class="text-contact">
                    <p>Rubén Velázquez <br/>email@mail.com</p>
                </div>
            </div>
        </div>
    </section>