<!-- Main section -->
<div>
    <main>
        <div class="container-prin paragraf">
            <h3><strong>Tu comodidad es mi prioridadad</strong></h3>
            <h4><strong>"Todos nuestros productos son pensados en tí"</strong></h4>
        </div>
    </main> 

    <!-- Innovation products section -->
    <section class="container-innovations">
        <div class="title-innovations text-center m-4">
            <h4 id="Products"><strong>PRODUCTOS DE INNOVACION</strong></h4>
        </div>
        <div class="card-gallery mb-1">
            <div class="row no-gutters cards">
                <div class="col-md-4">
                    <img src="/images/banco-himalaya.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-center">Banco Himalaya</h5>
                        <p class="card-text">This is a wider card with supporting text below.</p>
                        <p class="card-text text-center"><strong>$600</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="row no-gutters cards">
                <div class="col-md-4">
                    <img src="/images/banco-kapia.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-center">Banco Kapia</h5>
                        <p class="card-text">This is a wider card with supporting text below.</p>
                        <p class="card-text text-center"><strong>$300</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="row no-gutters cards">
                <div class="col-md-4">
                    <img src="/images/mesa-centro-ketzu.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-center">Mesa Ketzu</h5>
                        <p class="card-text">This is a wider card with supporting text below.</p>
                        <p class="card-text text-center"><strong>$500</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="row no-gutters cards">
                <div class="col-md-4">
                    <img src="/images/mesa-centro-moustache.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Mesa Moustache</h5>
                        <p class="card-text">This is a wider card with supporting text below.</p>
                        <p class="card-text"><strong class="text">$800</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="row no-gutters cards">
                <div class="col-md-4">
                    <img src="/images/mesa-centro-noguchi.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Mesa Noguchi</h5>
                        <p class="card-text">This is a wider card with supporting text below.</p>
                        <p class="card-text"><strong class="text">$680</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="row no-gutters cards">
                <div class="col-md-4">
                    <img src="/images/mesa-kids-mad.jpeg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Mesa Kids</h5>
                        <p class="card-text">This is a wider card with supporting text below.</p>
                        <p class="card-text"><strong class="text">$730</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="row no-gutters cards">
                <div class="col-md-4">
                    <img src="/images/silla-alezza.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Silla Alezza</h5>
                        <p class="card-text">This is a wider card with supporting text below.</p>
                        <p class="card-text"><strong class="text">$535</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="row no-gutters cards">
                <div class="col-md-4">
                    <img src="/images/silla-atenas.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Silla Atenas</h5>
                        <p class="card-text">This is a wider card with supporting text below.</p>
                        <p class="card-text"><strong class="text">$490</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="row no-gutters cards">
                <div class="col-md-4">
                    <img src="/images/silla-castell.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Silla Castell</h5>
                        <p class="card-text">This is a wider card with supporting text below.</p>
                        <p class="card-text"><strong class="text">$830</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </section>  

     <!-- promotions products section -->
    <section class="container-promotions">
        <div class="title-promotions text-center pt-4">
            <h4 id="Promotions"><strong>NUESTRAS PROMOCIONES</strong></h4>
        </div>
        <div class="site-slider-promotions px-md-4" id="slider-promotions">
            <div class="row slider-promotions text-center">
                <div class="col-md-2 products-promotions pt-md-5 pt-4">
                    <img src="/images/silla-himalaya.jpg" alt="...">
                    <span class="border site-btn btn-span">
                        <h5 class="card-title text-center">Silla Himalaya</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title.</p>
                        <p class="card-text text-center" id="price"><strong>$380</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </span>
                </div>
                <div class="col-md-2 products-promotions pt-md-5 pt-4">
                    <img src="/images/silla-holly-natural.jpg" alt="...">
                    <span class="border site-btn btn-span">
                        <h5 class="card-title text-center">Silla Holly</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title.</p>
                        <p class="card-text text-center" id="price"><strong>$630</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </span>
                </div>
                <div class="col-md-2 products-promotions pt-md-5 pt-4">
                    <img src="/images/silla-icaro.jpg" alt="...">
                    <span class="border site-btn btn-span">
                        <h5 class="card-title text-center">Silla Icaro</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title.</p>
                        <p class="card-text text-center" id="price"><strong>$512</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </span>
                </div>
                <div class="col-md-2 products-promotions pt-md-5 pt-4">
                    <img src="/images/silla-marely.jpg" alt="...">
                    <span class="border site-btn btn-span">
                        <h5 class="card-title text-center">Silla Marely</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title.</p>
                        <p class="card-text text-center" id="price"><strong>$459</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </span>
                </div>
                <div class="col-md-2 products-promotions pt-md-5 pt-4">
                    <img src="/images/silla-piramida.jpg" alt="...">
                    <span class="border site-btn btn-span">
                        <h5 class="card-title text-center">Silla Piramida</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title.</p>
                        <p class="card-text text-center" id="price"><strong>$510</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </span>
                </div>
                <div class="col-md-2 products-promotions pt-md-5 pt-4">
                    <img src="/images/silla-ruby.jpg" alt="...">
                    <span class="border site-btn btn-span">
                        <h5 class="card-title text-center">Silla Ruby</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title.</p>
                        <p class="card-text text-center" id="price"><strong>$435</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </span>
                </div>
                <div class="col-md-2 products-promotions pt-md-5 pt-4">
                    <img src="/images/silla-sila.jpg" alt="...">
                    <span class="border site-btn btn-span">
                        <h5 class="card-title text-center">Silla Sila</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title.</p>
                        <p class="card-text text-center" id="price"><strong>$399</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </span>
                </div>
                <div class="col-md-2 products-promotions pt-md-5 pt-4">
                    <img src="/images/sillon-booth.png" alt="...">
                    <span class="border site-btn btn-span">
                        <h5 class="card-title text-center">Sillon Both</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title.</p>
                        <p class="card-text text-center" id="price"><strong>$899</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </span>
                </div>
                <div class="col-md-2 products-promotions pt-md-5 pt-4">
                    <img src="/images/sillon-chicago.png" alt="...">
                    <span class="border site-btn btn-span">
                        <h5 class="card-title text-center">Sillon Chicago</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title.</p>
                        <p class="card-text text-center" id="price"><strong>$999</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </span>
                </div>
                <div class="col-md-2 products-promotions pt-md-5 pt-4">
                    <img src="/images/sillon-columbus.png" alt="...">
                    <span class="border site-btn btn-span">
                        <h5 class="card-title text-center">Sillon columbus</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title.</p>
                        <p class="card-text text-center" id="price"><strong>$1699</strong></p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </span>
                </div>
            </div>
        </div> 
    </section>

     <!-- Container services -->
     <section class="container-services">
        <div class="title-services text-center pt-4">
            <h4 id="Services"><strong>SERVICIOS</strong></h4>
        </div>
        <div class="container-service mt-5">
            <div class="card-service">
                <img src="/images/atencion.png" alt="">
                <p><strong>Atención telefónica</strong></p>
            </div>
            <div class="card-service">
                <img src="/images/entrega.png" alt="">
                <p><strong>Entrega a domicilio</strong></p>
            </div>
            <div class="card-service">
                <img src="/images/devoluciones.png" alt="">
                <p><strong>Devoluciones</strong></p>
            </div>
        </div>
     </section>              

    <!-- Section About us -->
    <section class="container-aboutus m-2">
        <div class="title-aboutus text-center mt-5">
            <h4 id="We"><strong>NOSOTROS</strong></h4>
        </div>
        <p class="text-aboutus mt-4">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore tempore rerum aliquid quis
            provident cum ab, quos dolores dolorem atque quasi sint iusto ratione deserunt similique ipsa
            reprehenderit quas odit.Lorem ipsum dolor sit amet consectetur, adipisicing tempore rerum aliq
            provident cum ab, quos dolores dolorem atque quasi sint iusto ratione deserunt similique ipsa
            reprehenderit quas odit.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore tempore rerum aliquid quis
            provident cum ab, quos dolores dolorem atque quasi sint iusto ratione deserunt similique ipsa
            reprehenderit quas odit.<br/><br/>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore tempore rerum aliquid quis
            provident cum ab, quos dolores dolorem atque quasi sint iusto ratione deserunt similique ipsa
            reprehenderit quas odit.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore tempore rerum aliquid quis
            provident cum ab, quos dolores dolorem atque quasi sint iusto ratione deserunt similique ipsa
            reprehenderit quas odit.
        </p>
    </section>

    <!-- Section Contacts -->
    <section class="container-contacts">
        <div class="title-contact text-center pt-3">
            <h4 id="Contacts"><strong>CONTACTOS</strong></h4>
        </div>
        <div class="container-contact pt-3">
            <div class="card-contact">
                <img src="/images/alfiler.png" alt="..." id="address">
                <div class="text-contact">
                    <p>Guevara No.5675, <br/>Col. La estáncia, <br/> CP. 45254, <br/> Zapópan, 
                        <br/>Jalísco, <br/>México.</p>
                </div>
            </div>
            <div class="card-contact">
                <img src="/images/telefono.png" alt="...">
                <div class="text-contact">
                    <p>Rubén Velázquez <br/>33 33 33 33 33</p>
                </div>
            </div>
            <div class="card-contact">
                <img src="/images/correo.png" alt="...">
                <div class="text-contact">
                    <p>Rubén Velázquez <br/>email@mail.com</p>
                </div>
            </div>
        </div>
    </section>
</div>
