<!-- Navbar -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#Products"><strong>Productos</strong></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#Promotions"><strong>Promociones</strong></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/services"><strong>Servicios</strong></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about"><strong>Nosotros</strong></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contacts"><strong>Contactos</strong></a>
                </li>  
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="input-search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="shop">
                <li class="shopping">
                    <i class="fas fa-shopping-basket border rounded-circle p-2"></i>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Main section -->
<main>
    <div class="container-prin paragraf">
        <h3><strong>Tu comodidad es mi prioridadad</strong></h3>
        <h4><strong>"Todos nuestros productos son pensados en tí"</strong></h4>
    </div>
</main> 

<!-- Innovation products section -->
<section class="container-innovations">
    <div class="title-innovations text-center m-4">
        <h4 id="Products"><strong>PRODUCTOS DE INNOVACION</strong></h4>
    </div>
    <div class="card-gallery mb-1">
        <div class="row no-gutters cards">
            <div class="col-md-4">
                <img src="/images/banco-himalaya.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">Banco Himalaya</h5>
                    <p class="card-text">This is a wider card with supporting text below.</p>
                    <p class="card-text text-center"><strong>$600</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>
        <div class="row no-gutters cards">
            <div class="col-md-4">
                <img src="/images/banco-kapia.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">Banco Kapia</h5>
                    <p class="card-text">This is a wider card with supporting text below.</p>
                    <p class="card-text text-center"><strong>$300</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>
        <div class="row no-gutters cards">
            <div class="col-md-4">
                <img src="/images/mesa-centro-ketzu.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">Mesa Ketzu</h5>
                    <p class="card-text">This is a wider card with supporting text below.</p>
                    <p class="card-text text-center"><strong>$500</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>
        <div class="row no-gutters cards">
            <div class="col-md-4">
                <img src="/images/mesa-centro-moustache.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Mesa Moustache</h5>
                    <p class="card-text">This is a wider card with supporting text below.</p>
                    <p class="card-text"><strong class="text">$800</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>
        <div class="row no-gutters cards">
            <div class="col-md-4">
                <img src="/images/mesa-centro-noguchi.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Mesa Noguchi</h5>
                    <p class="card-text">This is a wider card with supporting text below.</p>
                    <p class="card-text"><strong class="text">$680</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>
        <div class="row no-gutters cards">
            <div class="col-md-4">
                <img src="/images/mesa-kids-mad.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Mesa Kids</h5>
                    <p class="card-text">This is a wider card with supporting text below.</p>
                    <p class="card-text"><strong class="text">$730</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>
        <div class="row no-gutters cards">
            <div class="col-md-4">
                <img src="/images/silla-alezza.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Silla Alezza</h5>
                    <p class="card-text">This is a wider card with supporting text below.</p>
                    <p class="card-text"><strong class="text">$535</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>
        <div class="row no-gutters cards">
            <div class="col-md-4">
                <img src="/images/silla-atenas.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Silla Atenas</h5>
                    <p class="card-text">This is a wider card with supporting text below.</p>
                    <p class="card-text"><strong class="text">$490</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>
        <div class="row no-gutters cards">
            <div class="col-md-4">
                <img src="/images/silla-castell.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Silla Castell</h5>
                    <p class="card-text">This is a wider card with supporting text below.</p>
                    <p class="card-text"><strong class="text">$830</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>
    </div>
</section>  

<!-- promotions products section -->
<section class="container-promotions">
    <div class="title-promotions text-center pt-4">
        <h4 id="Promotions"><strong>NUESTRAS PROMOCIONES</strong></h4>
    </div>
    <div class="site-slider-promotions px-md-4" id="slider-promotions">
        <div class="row slider-promotions text-center">
            <div class="col-md-2 products-promotions pt-md-5 pt-4">
                <img src="/images/silla-himalaya.jpg" alt="...">
                <span class="border site-btn btn-span">
                    <h5 class="card-title text-center">Silla Himalaya</h5>
                    <p class="card-text text-center">Some quick example text to build on the card title.</p>
                    <p class="card-text text-center" id="price"><strong>$380</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </span>
            </div>
            <div class="col-md-2 products-promotions pt-md-5 pt-4">
                <img src="/images/silla-holly-natural.jpg" alt="...">
                <span class="border site-btn btn-span">
                    <h5 class="card-title text-center">Silla Holly</h5>
                    <p class="card-text text-center">Some quick example text to build on the card title.</p>
                    <p class="card-text text-center" id="price"><strong>$630</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </span>
            </div>
            <div class="col-md-2 products-promotions pt-md-5 pt-4">
                <img src="/images/silla-icaro.jpg" alt="...">
                <span class="border site-btn btn-span">
                    <h5 class="card-title text-center">Silla Icaro</h5>
                    <p class="card-text text-center">Some quick example text to build on the card title.</p>
                    <p class="card-text text-center" id="price"><strong>$512</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </span>
            </div>
            <div class="col-md-2 products-promotions pt-md-5 pt-4">
                <img src="/images/silla-marely.jpg" alt="...">
                <span class="border site-btn btn-span">
                    <h5 class="card-title text-center">Silla Marely</h5>
                    <p class="card-text text-center">Some quick example text to build on the card title.</p>
                    <p class="card-text text-center" id="price"><strong>$459</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </span>
            </div>
            <div class="col-md-2 products-promotions pt-md-5 pt-4">
                <img src="/images/silla-piramida.jpg" alt="...">
                <span class="border site-btn btn-span">
                    <h5 class="card-title text-center">Silla Piramida</h5>
                    <p class="card-text text-center">Some quick example text to build on the card title.</p>
                    <p class="card-text text-center" id="price"><strong>$510</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </span>
            </div>
            <div class="col-md-2 products-promotions pt-md-5 pt-4">
                <img src="/images/silla-ruby.jpg" alt="...">
                <span class="border site-btn btn-span">
                    <h5 class="card-title text-center">Silla Ruby</h5>
                    <p class="card-text text-center">Some quick example text to build on the card title.</p>
                    <p class="card-text text-center" id="price"><strong>$435</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </span>
            </div>
            <div class="col-md-2 products-promotions pt-md-5 pt-4">
                <img src="/images/silla-sila.jpg" alt="...">
                <span class="border site-btn btn-span">
                    <h5 class="card-title text-center">Silla Sila</h5>
                    <p class="card-text text-center">Some quick example text to build on the card title.</p>
                    <p class="card-text text-center" id="price"><strong>$399</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </span>
            </div>
            <div class="col-md-2 products-promotions pt-md-5 pt-4">
                <img src="/images/sillon-booth.png" alt="...">
                <span class="border site-btn btn-span">
                    <h5 class="card-title text-center">Sillon Both</h5>
                    <p class="card-text text-center">Some quick example text to build on the card title.</p>
                    <p class="card-text text-center" id="price"><strong>$899</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </span>
            </div>
            <div class="col-md-2 products-promotions pt-md-5 pt-4">
                <img src="/images/sillon-chicago.png" alt="...">
                <span class="border site-btn btn-span">
                    <h5 class="card-title text-center">Sillon Chicago</h5>
                    <p class="card-text text-center">Some quick example text to build on the card title.</p>
                    <p class="card-text text-center" id="price"><strong>$999</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </span>
            </div>
            <div class="col-md-2 products-promotions pt-md-5 pt-4">
                <img src="/images/sillon-columbus.png" alt="...">
                <span class="border site-btn btn-span">
                    <h5 class="card-title text-center">Sillon columbus</h5>
                    <p class="card-text text-center">Some quick example text to build on the card title.</p>
                    <p class="card-text text-center" id="price"><strong>$1699</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </span>
            </div>
        </div>
    </div> 
</section>


