<!-- Container services -->
<section class="container-services">
    <div class="title-services text-center pt-4">
        <h4 id="service"><strong>SERVICIOS</strong></h4>
    </div>
    <div class="container-service mt-5">
        <div class="card-service">
            <img src="/images/atencion.png" alt="">
            <p><strong>Atención telefónica</strong></p>
        </div>
        <div class="card-service">
            <img src="/images/entrega.png" alt="">
            <p><strong>Entrega a domicilio</strong></p>
        </div>
        <div class="card-service">
            <img src="/images/devoluciones.png" alt="">
            <p><strong>Devoluciones</strong></p>
        </div>
    </div>
</section>