*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #000;
    width: auto;
}

/* Main section */
.container-prin{
    background-image: url(../images/bg-image.jpg);
    height: 100vh;
    width: auto;
    margin: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.paragraf{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #000;
}










