<!-- Header -->
<div class="header">
    <div class="container">
        <img src="/images/confortHouse.jpg" alt="logo" class="logo">
        <!-- Login and Register -->
        <div class="menu-login">
            <ul class="login">
                {{#if user}}
                    <li class="register">
                        <a href="/users/logout">Cerrar sesion</a>
                    </li>
                {{else}}
                    <li class="register">
                        <a href="/users/signin">Iniciar sesión</a>
                        <a href="/users/signup">Registrarse</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>
